[Unit]
Description=Script to enable SR-IOV on boot
Before=networking.service
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ovs-vsctl set Open_vSwitch . other_config:hw-offload=true
ExecStart=/usr/bin/systemctl restart openvswitch-switch.service
ExecStart=%INSTALL_DIR%/set-sriov-all.sh
RemainAfterExit=yes
TimeoutSec=60

[Install]
WantedBy=multi-user.target